version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    container_name: fencepro_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fencepro
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: